body {
    width: 1000px;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: greenyellow;
    padding: 10px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0 10px;
}

main {
    display: flex;
}

article {
    flex: 1;
    border: 1px solid black;
}

img {
    float: left;
    margin: 20px;
}

p {
    text-align: justify;
    margin: 20px;
}

button {
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 10px;
    text-align: right;
}

footer {
    text-align: center;
    margin: 10px;
}