* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-72369.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 200px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

header,
article a {
    background-color: #b3cc00;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li:not(:last-child) {
    margin-right: 30px;
}

main {
    background-color: white;
    display: flex;
}

article:nth-child(odd) {
    margin-right: 20px;
}

article img {
    float: left;
    width: 150px;
    margin: 0 20px 20px 0;
}

article nav {
    display: flex;
    justify-content: right;
}

article a {
    color: white;
    padding: 20px;
}

article p {
    text-align: justify;
}

footer {
    text-align: center;
    color: #b3cc00;