* {
    font-family: Roboto;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #82140a;
    color: white;
}

header img {
    height: 40px;
}

header nav {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li:last-child a {
    padding: 15px 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.banner {
    background-image: url(https://tavobaras.lt/wp-content/uploads/2018/05/baras-alynas-vetrunge-klaipeda-1200x640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 200px;
    height: 70vh;

}

h1 {
    padding: 5px;
    background-color:  rgba(165, 42, 42, 0.7);
}

h2 {
    color: #cc6666;
}

h3 {
    color: white;
    text-align: center;
}

p {
    color: white;
    padding-left: 10px;

}

.products {
    display: flex;
    flex-wrap: wrap;
}

#grad {
    background-color: #cc6666;
    background-image: linear-gradient(#b96b6b, #99352d);
}

.product-card {
    width: calc(25% - 3px);
    margin-top: 4px;
}

.product-card:not(:nth-child(4n)) {
    margin-right: 4px;
}

img {
    width: 100%;
    object-fit: scale-down;
}

.contact {
    display: flex;
    gap: 10px;
}

form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

input {
    display: block;
    padding: 10px;
}

.submit {
    background-color: white;
    border: 2px solid #cc6666;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

iframe {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 460px;
    margin-bottom: 10px;
}

footer {
    background-color: #82140a;
    color: white;
    text-align: center;
    padding: 20px;
}